.basket.wow.animated.zoomIn
  - if has_order? && current_order.has_items?
    %p.quantity  در سبد خرید شما <b> #{current_order.total_items} کالا</b>
    %p.amount   جمعا به مبلغ &nbsp; <b> #{current_order.total_before_tax}  ریال </b>&nbsp; قرار دارد
    %p.buttons
      = link_to "سبد خرید من", basket_path
      = link_to "پرداخت", checkout_path, :class => 'checkout'

  - else
    %p.empty <b>سبد خرید شما خالی است </b>
    %p.empty چطور جرات می کنی؟ چرا یک کتاب به آن اضافه نمی کنی؟ همین الان سفارش بده
