<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/img/svg/sandrlogo.svg" height="35" alt="Scottie and Russell, Homeware and Gifts"/>
      </a>
    </div><!-- /navbar-header -->
    <div id="navbar-util">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="search-toggle" class="icon-magnifying-glass collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="navbar"></a>
      <a id="nav-cart" href="http://scottieandrussell.co.uk/shop/checkout">
        <span class="cart-qty">0</span>
        <span class="cart-val">£0.00</span>
      </a>
    </div><!-- /navbar-util -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/shop/">Shop</a></li>
        <li ><a href="/about/">Story</a></li>
        <li	><a href="/blog/">Journal</a></li>
        <li ><a href="/contact/">Contact</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /container-fluid -->
  <div id="search" class="container-fluid collapse">
    <form method="post" action="http://scottieandrussell.co.uk/"  >
      <div class='hiddenFields'>
        <input type="hidden" name="ACT" value="2" />
        <input type="hidden" name="RES" value="" />
        <input type="hidden" name="meta" value="MMiK2Bv7G3+YglK244Z4Sro4bZGefLz+Ui0rbzROov1ONM7BvFM3ItUdWP+3L0UuFVjc/aPHcQoD1pdIvCQgD28iqPXkwsf99Xw5vOqJuYxbl+GRVmE31ZH2lhvWOoH1hC+P5sUb1ZXP6Wm5DjvBJfxlWPbnubx2DWVUJW7TGmc8lpRBZhXbOCD1RI/LbPGIeUlXc01/FbVJW/4qsz3qeZZkptyTLBA1UPMA3C7Py7enC9zf3luOeT8Xo6ebU/99SjWCjPVIYnf4zIWSB1lWHxVf3gOHFFOd0HI70/vZuLGShy0t928jenECJFzQAnC5JvdlU8IzGUHHWO9JQOS9XUaku/NXHYx+Dk2dxB6iL3GDtn7Ksm7RH/RyJ/K0EhP/" />
        <input type="hidden" name="site_id" value="1" />
        <input type="hidden" name="csrf_token" value="9b6c2620f5dd5641b19106553ccded1cd27ab7ef" />
      </div>


      <input type="text" name="keywords" id="keywords" value="" size="18" maxlength="100" placeholder="search">
      <button type="submit" value="submit" class="submit"><span class="icon-caret-right"></span></button>
    </form>
  </div>
</nav>