<div class="budy">
    <div id="dp-slider">
        <div data-anim="random">
            <img src="assets/img1.jpg" alt="Image" role='banner'>
        </div>        
        <div data-anim="split">
            <img src="assets/img2.jpg" alt="Image" role='banner'>
        </div>       
        <div data-anim="rotate3D">
            <img src="assets/img3.jpg" alt="Image" role='banner'>
        </div>
    </div>
</div>