- active_nav_item :catalogue
- @page_title = "#{params[:value]} - Products"
.category
  %h2 محصولات
  %p.intro نمایش کالاهایی که  <b>#{params[:key]}&nbsp; #{params[:value]}</b> </b> می باشد<b>.
  - if @products.empty?
    %p.noProducts There are no products matching your filter
  - else
    = render 'shared/product_list', :products => @products
.text-center
  =paginate @products